*, *:before, *:after {
    @include box-sizing(border-box);
}

.clearfix {
    @include pie-clearfix;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    color: #2e3a47;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-family: "Open Sans",sans-serif;
}

a {
    color: #777777;
    text-decoration: none;
}

.hide {
    display: none;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header-wrapper {
    background: whitesmoke;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
}

// main-header
.main-header {
    @include inner;
    background: #F5F5F5;
    padding: 10px;
    font-size: 12px;
    &__phone {
        float: left;
    }
    &__menu-pusher {
        display: none;
    }
    &__nav {
        float: right;
        @include clearfix;
        text-transform: capitalize;
        &_item {
            float: left;
            margin-left: 15px;
            &:hover, &.is-active {
                color: #7bbd42;
            }
        }
    }
}

// END main-header

.post-header {
    @include inner;
}

.site-logo {
    margin-bottom: 30px;
    float: left;
}

// search
.search {
    border: 1px solid #e9e9e9;
    float: left;
    @include clearfix;
    margin-left: 150px;
    width: 45%;
    &__select {
        position: relative;
        float: left;
        background: #F9F9F9;
        // padding: 5px;
        .fa {
            position: absolute;
            height: 100%;
            right: 0;
            bottom: 0;
            background: #F9F9F9;
            width: 25px;
            color: #7bbd42;
            // border-right: 1px solid #7bbd42;
            text-align: center;
            line-height: 38px;
        }
        &_select {
            -moz-appearance: none;
            background-color: #f9f9f9;
            border: medium none;
            color: #8c8c8c;
            font-size: 13px;
            height: 36px;
            padding: 10px 8px;
            // width: 165px;
            min-width: 165px;
            option {
                padding: 3px 10px;
            }
        }
    }
    &__input-wrap {
        float: left;
        position: relative;
        width: calc(100% -  170px);
        &_submit {
            background: none;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 33px;
            text-align: center;
            cursor: pointer;
            .fa {
                color: #7bbd42;
                line-height: 35px;
            }
        }
        &_input {
            background-color: #ffffff;
            border: none;
            border-left: 1px solid gainsboro;
            padding: 0 34px 0 10px;
            font-size: 12px;
            font-style: italic;
            height: 36px;
            width: 100%;
        }
    }
}

// END search

// shop-cart
.shop-cart {
    margin-left: 150px;
    float: right;
    position: relative;
    &__icon {
        float: left;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        background: #7BBD42;
        text-indent: -1px;
        .fa {
            color: #fff;
            font-size: 18px;
        }
    }
    &__text {
        float: left;
        overflow: hidden;
        &_title {
            display: block;
            font-weight: bold;
            font-size: 14px;
            color: #2e3a47;
            text-transform: uppercase;
        }
    }
}

// END shop-cart

// mini-cart
.mini-cart {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 300px;
    background: #fff;
    border: 1px solid #e4e5e7;
}

// END mini-cart

// main-nav
.main-nav-wrapper {
    margin-bottom: 20px;
}

.main-nav {
    @include inner;
    background: #2E3A47;
    &__list {
        list-style-type: none;
        @include clearfix;
        &_item {
            position: relative;
            float: left;
            // max-width: 200px;
            &_link {
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                padding: 12px 20px;
                display: block;
            }
        }
    }
}

// END main-nav

// slider
.slider {
    @include inner;
    height: 500px;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    &__img-tmp {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        @include abscenter;
    }
    .temp-text {
        @include abscenter;
        font-size: 27px;
        text-shadow: 0 0 4px #444;
        padding-top: 50px;
    }
}

// END slider

// banners
.banners-wrap {
    margin-bottom: 40px;
}

.banners {
    @include inner;
    @include clearfix;
    // margin: 0 -10px;
    &-inner {
        margin: 0 -10px;
    }
    &__item {
        padding: 0 10px;
        float: left;
        width: 25%;
        &_link {
            display: block;
            width: 100%;
            position: relative;
            // background: #9c0;
            // height: 200px;
            @include boxshadow;
            &_img {
                max-width: 100%;
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

// END banners

// carousels
.carousels-wrap {
    margin-bottom: 40px;
    &.single {
        .carousels__box_title.isActive {
            border-top-color: #f05423;
        }
    }
}

.carousels {
    @include inner;
    // height: 350px;
    &__box {
        position: relative;
        height: 390px;
        &_title {
            float: left;
            margin-right: -1px;
            border-width: 3px 1px 0 1px;
            border-style: solid;
            border-color: transparent;
            &.isActive, &:hover {
                border-color: #7bbd42 #e4e5e7;
                position: relative;
                z-index: 2;
                button {
                    color: #7bbd42 !important;
                }
            }
            &:not(.isActive):hover {
                z-index: 1;
            }
            &_action {
                color: #2e3a47;
                font-weight: 600;
                text-transform: uppercase;
                background: #fff;
                padding: 11px  20px;
                border: none;
                cursor: pointer;
                display: block;
                font-size: 14px;
            }
        }
        &_item {
            position: absolute;
            top: 42px;
            left: 0;
            width: 100%;
            height: calc(100% - 42px);
            border: 1px solid #e4e5e7;
            z-index: 1;
            overflow: hidden;
            &_action {
                position: absolute;
                right: 0;
                bottom: calc(100% + 11px);
            }
        }
    }
}

// END carousels

// carousel-content
.carousel-content {
    @include clearfix;
    height: 100%;
    margin: 0 -10px;
    &__item {
        position: relative;
        float: left;
        width: 25%;
        padding: 0 10px;
        height: 100%;
        border-left: 1px solid #ccc;
        &_quick-view {
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 50%;
            margin-left: -31px;
            width: 65px;
            height: 30px;
            &_action {
                @include trs;
                opacity: 0;
                visibility: hidden;
                @include hovbutton;
                width: 30px;
                height: 30px;
                padding: 0;
                display: inline-block;
            }
            &_product {
                -webkit-transform: translate3d(-20px, 0, 0);
                -ms-transform: translate3d(-20px, 0, 0);
                -o-transform: translate3d(-20px, 0, 0);
                transform: translate3d(-20px, 0, 0);
            }
            &_images {
                -webkit-transform: translate3d(20px, 0, 0);
                -ms-transform: translate3d(20px, 0, 0);
                -o-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
            }
        }
        &_img-link {
            position: relative;
            height: 200px;
            width: 100%;
            display: block;
            &-img {
                @include abscenter;
                @include trs;
                opacity: 1;
                visibility: visible;
            }
            &-img_second {
                visibility: hidden;
                opacity: 0;
            }
            &:hover &-img_first {
                opacity: 0;
                visibility: hidden;
            }
            &:hover &-img_second {
                opacity: 1;
                visibility: visible;
            }
        }
        &_buyzone {
            display: block;
            padding: 0 20px;
            &_action {
                @include hovbutton;
            }
            &_compare {
                width: 30px;
                padding: 0;
                @include trs;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
        }
        &:hover &_buyzone_compare {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        &:hover &_quick-view_action {
            opacity: 1;
            visibility: visible;
        }
        &:hover &_quick-view_product {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        &:hover &_quick-view_images {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        &_title {
            margin-bottom: 10px;
            padding: 0 20px;
            &_link {
                color: #2e3a47;
                font-weight: 600;
                text-transform: capitalize;
                font-size: 14px;
                &:hover {
                    color: #2e3a47;
                }
            }
        }
        &_prices {
            margin-bottom: 20px;
            padding: 0 20px;
            &_old-price {
                color: #999999;
                font-size: 16px;
                font-weight: 600;
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -2px;
                display: inline-block;
            }
            &_new-price {
                color: #f05423;
                font-size: 14px;
                vertical-align: middle;
                font-weight: 600;
            }
        }
    }
}

// END carousel-content

// wide-banners
.wide-banners-wrap {
    margin-bottom: 30px;
}

.wide-banners {
    @include inner;
    &__item {
        position: relative;
        @include boxshadow;
        float: left;
        // width: 45%;
        // height: 100px;
        &_img {
            // @include abscenter;
            // width: 100%;
            display: block;
        }
        &:last-child {
            // width: 55%;
       
        }
    }
}

// END wide banners

// banners-two
.banners-two-wrap {
    margin-bottom: 13px;
}

.banners-two {
    @include inner;
    // @include clearfix;
    &-inner {
        margin: 0 -10px;
        @include clearfix;
    }
    &__item {
        width: 25%;
        float: left;
        padding: 0 10px;
        &_small &_link {
            margin-bottom: 13px;
        }
        &_link {
            display: block;
            @include boxshadow;
            border: 1px solid #e9e9e9;
            &_img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

// END banners-two

// serveices
.services-wrap {
    margin-bottom: 30px;
}

.services {
    // margin: 0 -10px;
    @include clearfix;
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #e4e5e7;
    &__item {
        float: left;
        width: 25%;
        padding: 35px 10px 35px 25px;
        &:hover .fa, &:hover &_info_headline {
            color: #7bbd42;
            @include trs;
        }
        .fa {
            float: left;
            padding-right: 10px;
            font-size: 60px;
            color: #2e3a47;
        }
        &_info {
            overflow: hidden;
            line-height: 1.4;
            margin-top: 5px;
            &_headline {
                // color: #2e3a47;
                text-transform: uppercase;
                font-size: 18px;
            }
            &_subheadline {
                color: #8c8c8c;
                font-size: 14px;
            }
        }
    }
    &__item:not(:first-child) {
        border-left: 1px solid #e4e5e7;
    }
}

// END services

// subscribe
.pre-footer-wrap {
    margin-bottom: 40px;
}

.pre-footer {
    background: #524354;
    padding: 25px;
    @include clearfix;
    &__subscribe {
        float: left;
        width: 63%;
        padding-right: 10px;
        .fa {
            float: left;
            font-size: 35px;
            padding-right: 13px;
        }
        &_text {
            float: left;
            margin-right: 20px;
            color: #fff;
            span {
                display: block;
            }
            &_headline {
                text-transform: uppercase;
                font-size: 18px;
            }
            &_subheadline {
                font-size: 13px;
            }
        }
        &_form {
            width: 60%;
            float: left;
            position: relative;
            &_input {
                padding: 0 110px;
                height: 40px;
                border: none;
                border-radius: 30px;
                background: #fff;
                width: 100%;
                &:focus {
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
                }
            }
            &_submit {
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 0 30px 30px 0;
                background: #7BBD42;
                border: none;
                height: 40px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
    &__share {
        $share: facebook #474747, vk #d86043, twitter #d86043, rss #f19f35, youtube #57bc8a, skype #4ea8d7;
        width: 37%;
        float: left;
        color: #fff;
        &_text {
            padding-right: 20px;
            line-height: 42px;
            text-transform: uppercase;
            float: left;
        }
        &_icons {
            float: left;
            &_link {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: #fff;
                display: block;
                float: left;
                margin-right: 5px;
                line-height: 35px;
                text-align: center;
                @each $index in $share {
                    &_#{nth($index, 1)}:hover {
                        background: nth($index, 2);
                    }
                }
            }
        }
    }
}

// END subscribe