*, *:before, *:after {
    @include box-sizing(border-box);
}

.clearfix {
    @include pie-clearfix;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    color: #2e3a47;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-family: "Open Sans",sans-serif;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #f05423;
    text-decoration: none;
}

label {
    color: #555555;
}

.hide {
    display: none;
}

.gl-old-price {
    color: #999999;
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 600;
}

.gl-new-price {
    color: #f05423;
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 600;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header-wrapper {
    background: whitesmoke;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
}

// main-header
.main-header {
    @include inner;
    background: #F5F5F5;
    padding: 10px;
    font-size: 12px;
    &__phone {
        float: left;
    }
    &__menu-pusher {
        display: none;
    }
    &__nav {
        float: right;
        @include clearfix;
        text-transform: capitalize;
        &_item {
            float: left;
            margin-left: 15px;
            &:hover, &.is-active {
                color: #7bbd42;
            }
        }
    }
}

// END main-header

.post-header {
    @include inner;
}

.site-logo {
    margin-bottom: 30px;
    float: left;
}

// search
.search {
    border: 1px solid #e9e9e9;
    float: left;
    @include clearfix;
    margin-left: 150px;
    width: 45%;
    &__select {
        position: relative;
        float: left;
        background: #F9F9F9;
        // padding: 5px;
        .fa {
            position: absolute;
            height: 100%;
            right: 0;
            bottom: 0;
            background: #F9F9F9;
            width: 25px;
            color: #7bbd42;
            // border-right: 1px solid #7bbd42;
            text-align: center;
            line-height: 38px;
        }
        &_select {
            -moz-appearance: none;
            background-color: #f9f9f9;
            border: medium none;
            color: #8c8c8c;
            font-size: 13px;
            height: 36px;
            padding: 10px 8px;
            // width: 165px;
            min-width: 165px;
            option {
                padding: 3px 10px;
            }
        }
    }
    &__input-wrap {
        float: left;
        position: relative;
        width: calc(100% -  170px);
        &_submit {
            background: none;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 33px;
            text-align: center;
            cursor: pointer;
            .fa {
                color: #7bbd42;
                line-height: 35px;
            }
        }
        &_input {
            background-color: #ffffff;
            border: none;
            border-left: 1px solid gainsboro;
            padding: 0 34px 0 10px;
            font-size: 12px;
            font-style: italic;
            height: 36px;
            width: 100%;
        }
    }
}

// END search

// shop-cart
.shop-cart {
    margin-left: 150px;
    float: right;
    position: relative;
    &__icon {
        float: left;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        background: #7BBD42;
        text-indent: -1px;
        .fa {
            color: #fff;
            font-size: 18px;
        }
    }
    &__text {
        float: left;
        overflow: hidden;
        &_count {
            color: #8c8c8c;
            font-size: 12px;
        }
        &_title {
            display: block;
            font-weight: bold;
            font-size: 14px;
            color: #2e3a47;
            text-transform: uppercase;
        }
    }
}

// END shop-cart

// mini-cart
.mini-cart {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 300px;
    background: #fff;
    border: 1px solid #e4e5e7;
}

// END mini-cart

// main-nav
.main-nav-wrapper {
    margin-bottom: 20px;
}

.main-nav {
    @include inner;
    background: #2E3A47;
    &__list {
        list-style-type: none;
        @include pie-clearfix;position: relative;
        &_item {
            
            float: left;
            // max-width: 200px;
            height: 45px;
            line-height: 1.2;
            width: 60px;
            display: table;
            &_link {
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                padding: 0 20px;
                display: block;
                display: table-cell;
                vertical-align: middle;
                &:hover, &.active{
                    background:#9c0;
                    color: #fff;
                }
            }
            &:hover{
                .main-nav-subblock{
                    display: block;
                }
            }
        }
    }
}

.main-nav-subblock{
    position: absolute;
    top: 100%;
    border-top: 30px solid transparent;
    left: 0;
    width: 100%;
    background:#fff;
    padding: 10px;
    z-index: 9999;
    display: none;
    @include custom-trs(0.9s);
}

// END main-nav

// breadcrumbs
.breadcrumbs-wrap {
    margin-bottom: 20px;
}

.breadcrumbs {
    text-transform: capitalize;
    font-size: 12px;
}

// END breadcrumbs

// product

.product-wrap {
    margin-bottom: 20px;
}

.product {
    @include clearfix;
    padding: 20px;
    border: 1px solid #E4E5E7;
    //temp
    &__image {
        float: left;
        width: 45%;
        padding-right: 10px;
        &_big {
            margin-bottom: 10px;
            &_img {
                max-width: 100%;
            }
        }
        &_others {
            width: 100%;
            overflow: hidden;
        }
        &_item {
            float: left;
            width: 100px;
            height: 100px;
            position: relative;
            &_img {
                @include abscenter;
            }
        }
    }
    &__info {
        float: left;
        width: 55%;
        &_line {
            margin-bottom: 15px;
        }
        &_title {
            color: #2e3a47;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 12px;
            position: relative;
            text-transform: uppercase;
            text-transform: uppercase;
        }
    }
    &-review-info {
        font-size: 13px;
        @include clearfix;
        vertical-align: middle;
        &__rating {
            float: left;
            &_text {
                margin-right: 15px;
                border-right: 1px solid #ccc;
                padding-right: 15px;
                display: inline-block;
                vertical-align: middle;
            }
            // padding-top: 1px;
            // padding-bottom: 1px;
            &_actions {
                float: left;
                &_item {
                    vertical-align: middle;
                }
            }
            &_stars {
                width: 70px;
                vertical-align: middle;
                height: 20px;
                display: inline-block;
                background: url("../img/stars.png") center center no-repeat;
            }
        }
    }
    &-prices {
        font-size: 18px;
        @include clearfix;
        font-weight: 600;
        &__old-price {
            color: #999999;
            text-decoration: line-through;
            margin-right: 10px;
        }
        &__new-price {
            color: #f05423;
        }
    }
    &-availability {
        color: #8c8c8c;
        vertical-align: middle;
        font-size: 13px;
        .fa {
            color: #7BBD42;
            font-size: 22px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    &-short-description {
        &__headline {
            font-weight: normal;
            color: #2e3a47;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
    &-options {
        // margin-bottom: 20px;
        &__item_label {
            font-weight: bold;
            display: block;
            margin-bottom: 7px;
        }
        &__item_select {
            padding: 7px;
            width: 300px;
            font-size: 14px;
            background-color: #ffffff;
            border: 1px solid #d8d8d8;
            color: #666666;
        }
    }
    &-quantity {
        width: 130px;
        float: left;
        &-text {
            vertical-align: middle;
            color: #555;
            font-size: 14px;
            margin-right: 5px;
        }
        &__box {
            width: 90px;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #d8d8d8;
            position: relative;
            &_input {
                padding: 4px;
                border: none;
                padding-right: 30px;
                width: 100%;
                font-size: 16px;
                color: #3e4141;
            }
            &_action {
                position: absolute;
                height: 50%;
                right: 0;
                font-size: 8px;
                text-align: center;
                color: #8c8c8c;
                cursor: pointer;
                background: none;
                border: none;
                padding: 0;
                border-left: 1px solid #d8d8d8;
                width: 30px;
                display: block;
                line-height: 15px;
                &:hover {
                    color: #7bbd42;
                }
                &_plus {
                    top: 1px;
                    border-bottom: 1px solid #d8d8d8;
                }
                &_minus {
                    bottom: -1px;
                }
            }
        }
    }
    &-buy-actions {
        @include pie-clearfix;
        &__planning, &__buying {
            float: left;
            margin-right: 7px;
        }
        &__buying_button {
            @extend %gl-button;
            margin-left: 7px;
            background: #7BBD42;
            border: 1px solid #77A64D;
        }
        &__planning_button {
            @extend %gl-button;
            background: #2E3A47;
            border: 1px solid #28313c;
            &:hover {
                background: #7BBD42;
                border-color: #77A64D;
            }
        }
    }
}

// END product

// sidebar and main

.collection-wrap {
    margin-bottom: 30px;
}

.sidebar {
    width: 25%;
    float: left;
    padding-right: 25px;
    &__box {
        margin-bottom: 20px;
        &_headline {
            padding: 15px 18px 14px 18px;
            background: #2e3a47;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            line-height: 1;
        }
        &_content {
            border: 1px solid #e4e5e7;
            padding: 10px;
        }
    }
}

.product-block {
    padding: 10px 0;
    &__item {
        padding: 0px 0 25px 0;
        border-bottom: 1px solid #e4e5e7;
        margin-bottom: 20px;
        overflow: hidden;
        &:last-child {
            border-bottom: none;
        }
        &_img-link {
            float: left;
            width: 80px;
            // height: 80px;
            overflow: hidden;
            position: relative;
            display: block;
            img {
                // @include abscenter;
                max-width: 100%;
            }
        }
        &_info-block {
            overflow: hidden;
        }
        &_headline {
            margin-bottom: 8px;
            &_link {
                color: #2e3a47;
                font-weight: 600;
                font-size: 14px;
            }
        }
        &_rating {
            margin-bottom: 5px;
        }
        &_prices_item_-old-price {
            margin-right: 5px;
        }
    }
}

.filtr-block {
    padding: 10px 0 10px 20px;
    &__line {
        margin-bottom: 5px;
        &_headline {
            text-transform: uppercase;
            font-weight: bold;
            color: #000;
            margin-bottom: 15px;
        }
        &_content {
            padding-left: 20px;
            &_item {
                margin-bottom: 15px;
                display: block;
                color: #2e3a47;
                font-size: 14px;
                vertical-align: middle;
                position: relative;
                text-transform: capitalize;
                &.active {
                    color: #000;
                    &:before {
                        content: 'x';
                        position: absolute;
                        right: 7px;
                        top: -2px;
                        font-size: 11px;
                        font-family: verdana;
                        &:hover {
                            color: #9c3;
                        }
                    }
                }
                .fa {
                    margin-right: 4px;
                }
            }
        }
    }
    &__reset {
        @include hovbutton;
        display: block;
        clear: both;
        margin-left: 10px;
        margin-top: 25px;
    }
}

.main-content {
    float: left;
    width: 75%;
    &__header {
        margin-bottom: 30px;
        @include pie-clearfix;
        &_box {
            float: left;
            &:first-child {
                width: 60%;
            }
            &_-how-choose {
                width: 30%;
                float: right;
            }
            &_headline {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 15px;
            }
        }
    }
    &__actions {
        @include pie-clearfix;
        margin-bottom: 30px;
    }
}

.view-action {
    float: left;
    &__item {
        cursor: pointer;
        @extend %gl-button;
        color: rgb(156, 155, 155);
        font-size: 14px;
        display: inline-block;
        padding: 0px;
        border: 1px solid #bbb;
        border-radius: 0;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 22px;
        &:not(:last-of-type) {
            margin-right: 5px;
        }
        &:hover {
            background: #f8f8f8;
        }
        &.active {
            cursor: default;
            background: #7BBD42;
            color: #fff;
        }
    }
}

.sorting-action {
    float: right;
    &__select {
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid #bbbbbb;
        margin-left: 5px;
        padding: 7px 6px;
    }
}

.products {
    @include pie-clearfix;
    border-top: 1px solid #e4e5e7;
    &__item {

        width: 292.5px;
        height: 390px;
        float: left;
        border: 1px solid #e4e5e7;
        border-top: none;
        border-left: none;
        &:nth-child(3n + 1) {
            // background:#9c0;
            border-left: 1px solid #e4e5e7;
        }
        a.carousel-content__item_img-link {
            height: 220px;
        }
    }
    .product-block-description{
        display: none;
    }
    .product-block-rating {
        padding: 4px 20px;
        color: #cbcbcb;
        img {
            vertical-align: middle;
        }
        &__actions{
            display: none;
        }
        &__count {
            margin: 0 5px;
            
        }
        &__add {
            margin: 0 5px;
            
        }
    }
    &_-list {
        .product-block-description{
            display: block;
        }
        border: none;
        .products__item {
            border: medium none;
            display: block;
            float: none;
            width: 100%;
            height: auto;
            @include pie-clearfix;
            margin-bottom: 30px;
        }
        .carousel-content__item_img-wrap {
            border: 1px solid #e4e5e7;
            float: left;
            margin-right: 20px;
            padding: 7px;
            width: 280px;
        }
        .product-block-rating {
            &__actions {
               display: inline-block;
            }
        }
    }
}

// End sidebar and main

// product-tabs

.product-tabs-wrap {
    margin-bottom: 20px;
}

.product-tabs {
    border: 1px solid #e4e5e7;
    @include clearfix;
    &__controls {
        float: left;
        width: 30%;
        margin-right: 2%;
        &_item {
            display: block;
            width: 100%;
            padding: 17px 20px 16px 20px;
            border: none;
            border-bottom: 1px solid #e4e5e7;
            border-right: 1px solid #e4e5e7;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            text-transform: uppercase;
            font-size: 14px;
            text-align: left;
            background: none;
            color: #2e3a47;
            &:before {
                width: 2px;
                right: 0px;
                content: '';
                height: 100%;
                // width: 1px;
                background: #7bbd42;
                top: 0;
                position: absolute;
                display: none;
            }
            &:hover, &.active {
                color: #7bbd42;
            }
            &:hover:before, &.active:before {
                display: block;
            }
            &:first-child {
                border-top: none;
            }
        }
    }
    &__contents {
        float: left;
        width: 68%;
        padding: 20px 10px 30px 10px;
        &_item {
            // display: none;
            &_headline {
                border-bottom: 1px solid #e4e5e7;
                color: #2e3a47;
                font-size: 18px;
                margin: 0 0 12px;
                position: relative;
                padding-bottom: 7px;
                text-transform: capitalize;
            }
            &_content {
                font-size: 13px;
                line-height: 26px;
            }
        }
        &_item:first-child {
            display: block;
        }
    }
}

// END product tabs

// reviews

.reviews {
    margin-bottom: 20px;
    &-count {
        margin-bottom: 10px;
        font-size: 14px;
    }
    &__list {
        &_item {
            margin-bottom: 10px;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e4e5e7;
            &_author {
                font-weight: bold;
                font-size: 14px;
                color: #2e3a47;
                margin-bottom: 5px;
                &_text {
                    color: #777;
                    font-size: 13px;
                }
            }
            &_content {
                padding-bottom: 7px;
            }
            &_date {
                font-size: 14px;
            }
        }
        &_item:last-child {
            border-bottom: none;
        }
    }
}

// END reviews

.reviews-form {
    margin-bottom: 20px;
    &__rating {
        margin-bottom: 20px;
    }
    &_headline {
        margin-bottom: 4px;
        font-size: 14px;
    }
}

.review-table {
    width: 100%;
    td, th {
        text-align: center;
        border: 1px solid #e4e5e7;
        padding: 10px;
        font-size: 16px;
    }
    th:first-child, td:first-child {
        width: 60%;
        text-align: left;
        font-weight: bold;
    }
}

.review-fieldset {
    margin-bottom: 20px;
    &__line {
        margin-bottom: 10px;
        &_label {
            display: block;
            font-size: 14px;
            color: #2e3a47;
            margin-bottom: 3px;
            vertical-align: middle;
        }
        &_input {
            height: 32px;
            border: 1px solid #d8d8d8;
            line-height: 32;
            padding: 5px;
            width: 100%;
            font-size: 14px;
            &_-textarea {
                vertical-align: top;
                text-align: left;
                line-height: 1.5;
                height: 100px;
                resize: none;
            }
        }
    }
    &__submit {
        text-align: right;
        &_button {
            @include hovbutton;
        }
    }
}

// reviews-form

// END reviews-form

// slider
.slider {
    @include inner;
    height: 500px;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    &__img-tmp {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        @include abscenter;
    }
    .temp-text {
        @include abscenter;
        font-size: 27px;
        text-shadow: 0 0 4px #444;
        padding-top: 50px;
    }
}

// END slider

// banners
.banners-wrap {
    margin-bottom: 40px;
}

.banners {
    @include inner;
    @include clearfix;
    // margin: 0 -10px;
    &-inner {
        margin: 0 -10px;
    }
    &__item {
        padding: 0 10px;
        float: left;
        width: 25%;
        &_link {
            display: block;
            width: 100%;
            position: relative;
            // background: #9c0;
            // height: 200px;
            @include boxshadow;
            &_img {
                max-width: 100%;
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

// END banners

// carousels
.carousels-wrap {
    margin-bottom: 40px;
    &.single {
        .carousels__box_title.isActive {
            border-top-color: #f05423;
        }
    }
}

.carousels {
    @include inner;
    // height: 350px;
    &__box {
        position: relative;
        height: 390px;
        &_title {
            float: left;
            margin-right: -1px;
            border-width: 3px 1px 0 1px;
            border-style: solid;
            border-color: transparent;
            &.isActive, &:hover {
                border-color: #7bbd42 #e4e5e7;
                position: relative;
                z-index: 2;
                button {
                    color: #7bbd42 !important;
                }
            }
            &:not(.isActive):hover {
                z-index: 1;
            }
            &_action {
                color: #2e3a47;
                font-weight: 600;
                text-transform: uppercase;
                background: #fff;
                padding: 11px  20px;
                border: none;
                cursor: pointer;
                display: block;
                font-size: 14px;
            }
        }
        &_item {
            position: absolute;
            top: 42px;
            left: 0;
            width: 100%;
            height: calc(100% - 42px);
            border: 1px solid #e4e5e7;
            z-index: 1;
            overflow: hidden;
            &_action {
                position: absolute;
                right: 0;
                bottom: calc(100% + 11px);
            }
        }
    }
}

// END carousels

// carousel-content
.carousel-content {
    @include clearfix;
    height: 100%;
    margin: 0 -10px;
    &__item {
        position: relative;
        float: left;
        width: 25%;
        padding: 0 10px;
        height: 100%;
        border-left: 1px solid #ccc;
        &_img-wrap {
            position: relative;
            width: 100%;
        }
        &_quick-view {
            position: absolute;
            top: 60%;
            margin-top: -50px;
            left: 50%;
            margin-left: -31px;
            width: 65px;
            height: 30px;
            &_action {
                @include trs;
                opacity: 0;
                visibility: hidden;
                @include hovbutton;
                width: 30px;
                height: 30px;
                padding: 0;
                display: inline-block;
            }
            &_product {
                -webkit-transform: translate3d(-20px, 0, 0);
                -ms-transform: translate3d(-20px, 0, 0);
                -o-transform: translate3d(-20px, 0, 0);
                transform: translate3d(-20px, 0, 0);
            }
            &_images {
                -webkit-transform: translate3d(20px, 0, 0);
                -ms-transform: translate3d(20px, 0, 0);
                -o-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
            }
        }
        &_img-link {
            position: relative;
            height: 200px;
            width: 100%;
            display: block;
            &-img {
                @include abscenter;
                @include trs;
                opacity: 1;
                visibility: visible;
            }
            &-img_second {
                visibility: hidden;
                opacity: 0;
            }
            &:hover &-img_first {
                opacity: 0;
                visibility: hidden;
            }
            &:hover &-img_second {
                opacity: 1;
                visibility: visible;
            }
        }
        &_buyzone {
            display: block;
            padding: 0 20px;
            &_action {
                @include hovbutton;
            }
            &_compare {
                width: 30px;
                padding: 0;
                @include trs;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
        }
        &:hover &_buyzone_compare, .products__item:hover &_buyzone_compare {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        &:hover &_quick-view_action, .products__item:hover &_quick-view_action {
            opacity: 1;
            visibility: visible;
        }
        &:hover &_quick-view_product, .products__item:hover &_quick-view_product {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        &:hover &_quick-view_images, .products__item:hover &_quick-view_images {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        &_title {
            margin-bottom: 10px;
            padding: 0 20px;
            &_link {
                color: #2e3a47;
                font-weight: 600;
                text-transform: capitalize;
                font-size: 14px;
                &:hover {
                    color: #2e3a47;
                }
            }
        }
        &_prices {
            margin-bottom: 20px;
            padding: 0 20px;
            &_old-price {
                color: #999999;
                font-size: 16px;
                font-weight: 600;
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -2px;
                display: inline-block;
            }
            &_new-price {
                color: #f05423;
                font-size: 16px;
                vertical-align: middle;
                font-weight: 600;
            }
        }
    }
}

// END carousel-content

// wide-banners
.wide-banners-wrap {
    margin-bottom: 30px;
}

.wide-banners {
    @include inner;
    &__item {
        position: relative;
        @include boxshadow;
        float: left;
        // width: 45%;
        // height: 100px;
        &_img {
            // @include abscenter;
            // width: 100%;
            display: block;
        }
        &:last-child {
            // width: 55%;
       
        }
    }
}

// END wide banners

// banners-two
.banners-two-wrap {
    margin-bottom: 13px;
}

.banners-two {
    @include inner;
    // @include clearfix;
    &-inner {
        margin: 0 -10px;
        @include clearfix;
    }
    &__item {
        width: 25%;
        float: left;
        padding: 0 10px;
        &_small &_link {
            margin-bottom: 13px;
        }
        &_link {
            display: block;
            @include boxshadow;
            border: 1px solid #e9e9e9;
            &_img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

// END banners-two

// serveices
.services-wrap {
    margin-bottom: 30px;
}

.services {
    // margin: 0 -10px;
    @include clearfix;
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #e4e5e7;
    &__item {
        float: left;
        width: 25%;
        padding: 35px 10px 35px 25px;
        &:hover .fa, &:hover &_info_headline {
            color: #7bbd42;
            @include trs;
        }
        .fa {
            float: left;
            padding-right: 10px;
            font-size: 60px;
            color: #2e3a47;
        }
        &_info {
            overflow: hidden;
            line-height: 1.4;
            margin-top: 5px;
            &_headline {
                // color: #2e3a47;
                text-transform: uppercase;
                font-size: 18px;
            }
            &_subheadline {
                color: #8c8c8c;
                font-size: 14px;
            }
        }
    }
    &__item:not(:first-child) {
        border-left: 1px solid #e4e5e7;
    }
}

// END services

// subscribe
.pre-footer-wrap {
    margin-bottom: 40px;
}

.pre-footer {
    background: #524354;
    padding: 25px;
    @include clearfix;
    &__subscribe {
        float: left;
        width: 67%;
        padding-right: 10px;
        .fa {
            float: left;
            font-size: 35px;
            padding-right: 13px;
            color: #fff;
        }
        &_text {
            float: left;
            margin-right: 20px;
            color: #fff;
            span {
                display: block;
            }
            &_headline {
                text-transform: uppercase;
                font-size: 18px;
            }
            &_subheadline {
                font-size: 13px;
            }
        }
        &_form {
            width: 60%;
            float: left;
            position: relative;
            &_input {
                padding: 0 110px;
                height: 40px;
                border: none;
                border-radius: 30px;
                background: #fff;
                width: 100%;
                &:focus {
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
                }
            }
            &_submit {
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 0 30px 30px 0;
                background: #7BBD42;
                border: none;
                height: 40px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
    &__share {
        $share: facebook #346da6, twitter #4c91d7, rss #f05423, youtube #b61f26, skype #00adf2;
        width: 33%;
        float: left;
        color: #fff;
        &_text {
            padding-right: 20px;
            line-height: 42px;
            text-transform: uppercase;
            float: left;
        }
        &_icons {
            float: right;
            margin-top: 5px;
            &_link {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: #fff;
                display: block;
                float: left;
                margin-left: 10px;
                line-height: 33px;
                text-align: center;
                font-size: 20px;
                @each $index in $share {
                    &_#{nth($index, 1)}:hover {
                        background: nth($index, 2);
                        color: #fff;
                    }
                }
            }
        }
    }
}

// END subscribe

// footer-boxes
.footer-boxes-wrap {
    padding-bottom: 30px;
}

.footer-boxes {
    &__item {
        float: left;
        width: 25%;
        &:not(:last-child) {
            padding-right: 20px;
        }
        &:last-child {
            float: right;
        }
        &_headline {
            color: #2e3a47;
            font-size: 14px;
            font-weight: 600;
            padding: 0 0 20px;
            text-transform: uppercase;
        }
    }
}

.footer-box {
    font-size: 13px;
    color: #2e3a47;
    &__navigation {
        &_link {
            display: block;
            @include trs;
            text-transform: capitalize;
            margin-bottom: 4px;
            .fa {
                display: inline-block;
                vertical-align: middle;
                font-size: 4px;
                margin-right: 5px;
                color: inherit;
            }
            &_text {
                vertical-align: middle;
                display: inline-block;
            }
            &.isActive, &:hover {
                color: #7bbd42;
            }
        }
    }
    &__information {
        text-align: justify;
    }
}

// END footer boxes

// footer
.footer-wrap {
    padding: 30px;
    background: #FCFCFC;
    border-top: 1px solid #E8E9EB;
}

.to-top {
    position: absolute;
    left: 0;
    top: 0;
    &_text {
        vertical-align: middle;
    }
}

.footer {
    @include clearfix;
    position: relative;
    a {
        color: #7bbd42;
    }
    &__copy {
        float: left;
        padding-top: 25px;
        // margin-bottom: 10px;
        &_text:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    &__payments {
        float: right;
        background: url("../img/payments.png") center right no-repeat;
        width: 300px;
        height: 50px;
    }
}

// END footer