*, *:before, *:after {
    @include box-sizing(border-box);
}

.clearfix {
    @include pie-clearfix;
}

body {
    color: #2e3a47;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-family: "Open Sans",sans-serif;
}

a {
    color: #777777;
    text-decoration: none;
}

.hide{
    display: none;
}

.main-header-wrapper {
    background: whitesmoke;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
}

// main-header
.main-header {
    @include inner;
    background: #F5F5F5;
    padding: 10px;
    font-size: 12px;
    &__phone {
        float: left;
    }
    &__menu-pusher {
        display: none;
    }
    &__nav {
        float: right;
        @include clearfix;
        text-transform: capitalize;
        &_item {
            float: left;
            margin-left: 15px;
            &:hover, &.is-active {
                color: #7bbd42;
            }
        }
    }
}

// END main-header

.post-header {
    @include inner;
}

.site-logo {
    margin-bottom: 30px;
    float: left;
}

// search
.search {
    border: 1px solid #e9e9e9;
    float: left;
    @include clearfix;
    margin-left: 150px;
    width: 45%;
    &__select {
        position: relative;
        float: left;
        background: #F9F9F9;
        // padding: 5px;
        .fa {
            position: absolute;
            height: 100%;
            right: 0;
            bottom: 0;
            background: #F9F9F9;
            width: 25px;
            color: #7bbd42;
            // border-right: 1px solid #7bbd42;
            text-align: center;
            line-height: 35px;
        }
        &_select {
            -moz-appearance: none;
            background-color: #f9f9f9;
            border: medium none;
            color: #8c8c8c;
            font-size: 13px;
            height: 36px;
            padding: 10px 8px;
            // width: 165px;
            min-width: 165px;
            option {
                padding: 3px 10px;
            }
        }
    }
    &__input-wrap {
        float: left;
        position: relative;
        width: calc(100% -  165px);
        &_submit {
            background: none;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 33px;
            text-align: center;
            cursor: pointer;
            .fa {
                color: #7bbd42;
                line-height: 35px;
            }
        }
        &_input {
            background-color: #ffffff;
            border: none;
            border-left: 1px solid gainsboro;
            padding: 0 34px 0 10px;
            font-size: 12px;
            font-style: italic;
            height: 36px;
            width: 100%;
        }
    }
}

// END search

// shop-cart
.shop-cart {
    margin-left: 150px;
    float: right;
    position: relative;
    &__icon {
        float: left;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        background: #7BBD42;
        text-indent: -1px;
        .fa {
            color: #fff;
            font-size: 18px;
        }
    }
    &__text {
        float: left;
        overflow: hidden;
        &_title {
            display: block;
            font-weight: bold;
            font-size: 14px;
            color: #2e3a47;
            text-transform: uppercase;
        }
    }
}

// END shop-cart


// mini-cart
.mini-cart {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 300px;
    background: #fff;
    border: 1px solid #e4e5e7;
}
// END mini-cart

// main-nav
.main-nav{
    @include inner;
    background: #2E3A47;
    &__list{
        list-style-type: none;
        @include clearfix;
        &_item{
            position: relative;
            float: left;
            // max-width: 200px;
            &_link{
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                padding: 10px 20px;
                display: block;
            }
        }
    }
}
// END main-nav