@mixin inner {
    max-width: 1190px;
    margin: 0 auto;
}

@mixin custommedia($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin bordered {
    border-radius: 5px;
}

@mixin p-button {
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
}

@mixin trs {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

// 
// @TODO: Add docs to abscenter!
//
@mixin abscenter {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

// 
// @TODO: Add docs to hovbutton!
//
@mixin hovbutton {
    background: #2e3a47;
    color: #fff;
    border: 1px solid #28313c;
    font-size: 12px;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    line-height: 26px;
    &:hover {
        background-color: #7bbd42;
        border-color: #6fab3b;
    }
}

// 
// @TODO: Add docs to boxshadow!
//
@mixin boxshadow {
    position: relative;
    &:before {
        content: '';
        @include abscenter;
        @include trs;
    }
    &:hover:before {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.03) inset;
    }
}

%gl-button{
    padding: 5px  10px;
    cursor: pointer;
    // line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    background:none;
    border:none;
    border-radius: 3px;
}




