---
layout: default
title: Главная
---

<section class="slider-wrap">
  <div class="container">
    <div class="slider">
      <img src="{{site.baseurl}}/img/robot.jpg" alt="" class="slider__img-tmp">
      <div class="temp-text">
        Здесь будет слайдер
      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- slider-wrap -->

<section class="banners-wrap">
  <div class="container">
    <div class="banners">
      <div class="banners-inner">
        {% for i in (1..4) %}
        <figure class="banners__item">
          <a href="" class="banners__item_link">
            <img src="{{site.baseurl}}/img/banners-{{i}}.jpg" alt="" class="banners__item_link_img">
          </a>
        </figure>
        <!-- banners__item -->
        {% endfor %}
      </div>
      <!-- banners-inner -->
    </div>
    <!-- banners -->
  </div>
  <!-- container -->
</section>
<!-- banners-wrap -->

{% include carousel.html type="multi" id="231" %}

<section class="wide-banners-wrap">
  <div class="container">
    <div class="wide-banners">
      <figure class="wide-banners-inner clearfix">
        <a href="#" class="wide-banners__item">
          <img src="{{site.baseurl}}/img/banners-img-1.jpg" alt="" class="wide-banners__item_img">
        </a>
        <!-- wide-banners__item -->
        <a href="#" class="wide-banners__item">
          <img src="{{site.baseurl}}/img/banners-img-2.jpg" alt="" class="wide-banners__item_img">
        </a>
        <!-- wide-banner__item -->
      </figure>
      <!-- wide-banners-inner -->
    </div>
    <!-- wide-banners -->
  </div>
  <!-- container -->
</section>
<!-- wide-banners-wrap -->

{% include carousel.html type="single" id="321" %}

<section class="banners-two-wrap">
  <div class="container">
    <div class="banners-two">
      <div class="banners-two-inner">


        {% for i in (1..4) %}
        <figure class="banners-two__item banners-two__item_{% cycle 'banners': 'small',  'large' %}">
         {% if forloop.index == 2 or forloop.index == 4 %}
         <a href="#" class="banners-two__item_link">
          <img {% if forloop.index == 2 %}src="{{site.baseurl}}/img/banners-two-3.jpg"{% endif %} {% if forloop.index == 4 %}src="{{site.baseurl}}/img/banners-two-6.jpg"{% endif %}   alt="" class="banners-two__item_link_img">
        </a>
        <!-- banners-two__item_link -->
        {% else %}
        <a href="#" class="banners-two__item_link">
          <img {% if forloop.index == 1 %}src="{{site.baseurl}}/img/banners-two-1.jpg"{% endif %} {% if forloop.index == 3 %}src="{{site.baseurl}}/img/banners-two-4.jpg"{% endif %} alt="" class="banners-two__item_link_img">
        </a>
        <!-- banners-two__item_link -->
        <a href="#" class="banners-two__item_link">
          <img {% if forloop.index == 1 %}src="{{site.baseurl}}/img/banners-two-2.jpg"{% endif %}  {% if forloop.index == 3 %}src="{{site.baseurl}}/img/banners-two-5.jpg"{% endif %}  alt="" class="banners-two__item_link_img">
        </a>
        <!-- banners-two__item_link -->
        {% endif %}
      </figure>  
      <!-- banners-two__item -->
      {% endfor %}
    </div>
    <!-- banners=two-inner -->
    </div>
    <!-- banners-two -->
  </div>
  <!-- container -->
</section>
<!-- banners-two-wrap -->