---
layout: default
title: Карточка товара
---

<div class="product-wrap">
	<div class="container">
		<article class="product" id="product_1234">
			<div class="product__image">
				<div class="product__image_big">
					<img src="{{site.baseurl}}/img/product-big-img.jpg" alt="product.name" class="product__image_big_img">
				</div>
				<!-- product__image_big -->
				<div class="product__image_others">
					{% for i in (1..6) %}
						<a href="product-big-img" class="product__image_others_item">
							<img src="{{site.baseurl}}/img/product-thumb-{{i}}.jpg" alt="product-name" class="product__image_others_item_img">
						</a>
					{% endfor %}
				</div>
				<!-- product__image_others -->
			</div>
			<!-- product__image  -->

			<div class="product__info">

				<div class="product__info_title product__info_line">
					<h1 class="product__info_title_text">Название продукта</h1>
				</div>
				<!-- product__info_title -->

				<div class="product-review-info product__info_line">
					<div class="product-review-info__rating">
						<span class="product-review-info__rating_stars"></span> 
						<a href="to-reviews" class="product-review-info__rating_text">Количество отвывов (3) </a>
					</div>
					<!-- product-review-info__rating -->
					<div class="product-review-info__rating_actions">
						<a href="addreviews" class="product-review-info__rating_actions_item jsAddReview">
							Добавить отзыв
						</a>
					</div>
					<!-- product-review-info__rating -->
				</div>
				<!-- product-review-info -->

				<div class="product-prices product__info_line">
					<span class="product-prices__item product-prices__old-price jsProductOldPrice">3450 руб.</span>
					<span class="product-prices__item product-prices__new-price jsProductNewPrice">2456 руб.</span>
				</div>
				<!-- product-prices/product__info_line -->

				<div class="product-availability product__info_line">
					<!-- <fa class="fa-iconname"></fa> -->
					<div class="product-availability__text">
					<i class="fa fa-check-circle"></i>
						<span class="product-availability__text_key">Доступность: </span>
						<span class="product-availability__text_value jsProductAvailability"> Есть на складе </span>
					</div>
					<!-- product-availability__text -->
				</div>
				<!-- product-availability -->

			<!-- <a HREF="mailto:?subject=Посмотри  на 'Название Продукта'&body=Описание продукта и ссылка http://www.geocities.com/wowhtml/">Отправить другу по почте</a> -->

				<div class="product-short-description product__info_line">
					<h2 class="product-short-description__headline">Короткое описание</h2>
					<div class="product-short-description__text editor">
						<p>
							Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного, переписали жизни речью моей необходимыми языком безорфографичный запятой решила страна, ручеек страну на берегу свою выйти одна продолжил толку правилами?
						</p>
					</div>
					<!-- product-short-description__text -->
				</div>
				<!-- product-short-description/product__info_line -->
				
				<div class="product-options product__info_line">
					<div class="product-options__item">
						<lable class="product-options__item_label">Цвет</lable>
						<select name="" id="" class="product-options__item_select">
							<option value="">Название опции</option>
							<option value="">Название опции</option>
							<option value="">Название опции</option>
							<option value="">Название опции</option>
							<option value="">Название опции</option>
							</select>
							<!-- product-options__item_select -->
					</div>
					<!-- product-options__item -->
				</div>
				<!-- product-options/product__info_line -->

				<div class="product-prices product__info_line">
					<span class="product-prices__item product-prices__old-price jsProductOldPrice">3450 руб.</span>
					<span class="product-prices__item product-prices__new-price jsProductNewPrice">2456 руб.</span>
				</div>
				<!-- product-prices/product__info_line -->

				<div class="product-buy-actions">
					<div class="product-buy-actions__buying">

						<div class="product-quantity">
							<span class="product-quantity-text">Кол.</span>
							<div class="product-quantity__box">
								<input type="text" class="product-quantity__box_input" value="1">
								<a class="product-quantity__box_action  product-quantity__box_action_plus jsProductQuantityPlus">
									<i class="fa fa-plus"></i>
								</a>
								<a class="product-quantity__box_action product-quantity__box_action_minus jsProductQuantityMinus">
									<i class="fa fa-minus"></i>
								</a>
							</div>
							<!-- product-quantity-box -->
						</div>
						<!-- product-quantity -->

						<button class="product-buy-actions__buying_button jsAddToCart">
							В корзину
						</button>
					</div>
					<!-- product-buy-actions__buying -->

					<div class="product-buy-actions__planning">
						<button class="product-buy-actions__planning_button jsAddToCompare">
							Сравнить
						</button>
					</div>
					<!-- product-buy-actions__planning -->
				</div>
				<!-- product-buy-actions -->
			</div>
			<!-- product__info -->


		</article>
		<!-- product -->



	</div>
	<!-- container -->
</div>
<!-- product-wrap -->

	<section class="product-tabs-wrap">
		<div class="container">
			<div class="product-tabs">
				<div class="product-tabs__controls">
					<button class="product-tabs__controls_item jsProductTabItem" data-href="tab-content_1">
						Подробная информация
					</button>
					<button class="product-tabs__controls_item jsProductTabItem" data-href="tab-content_2">
						Характеристики
					</button>
					<button class="product-tabs__controls_item jsProductTabItem" data-href="tab-content_3">
						Комплектация
					</button>

					<button class="product-tabs__controls_item jsProductTabItem" data-href="tab-content_4">
						Полезные ссылки и файлы
					</button>

						<button class="product-tabs__controls_item jsProductTabItem" data-href="tab-content_4">
						Отзывы
					</button>
				</div>
				<!-- product-tabs__controls -->

				<section class="product-tabs__contents">
					
					<article class="product-tabs__contents_item jsProductTabContentItem" data-name="tab-content_1">
						<h1 class="product-tabs__contents_item_headline">Название таба</h1> 
						<div class="product-tabs__contents_item_content editor">
							Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. За всемогущая точках, агенство знаках, послушавшись журчит решила проектах ipsum мир необходимыми себя от всех использовало переулка повстречался, рыбными рот. Заглавных.
							
						</div>
					</article>
					<!-- product-tabs__contents_item -->

					<article class="product-tabs__contents_item jsProductTabContentItem" data-name="tab-content_2">
						<h1 class="product-tabs__contents_item_headline">Отзывы</h1> 
						<div class="product-tabs__contents_item_content editor">
							<div class="reviews">
								<span class="reviews-count">
									Отзывов: 12
								</span>
								<!-- reviews-count -->
								<ul class="reviews__list">
									<li class="reviews__list_item">
										<div class="reviews__list_item_author">
											Написал:  sarhov
										</div>
										<!-- reviews__list_item_author -->
										<div class="reviews__list_item_stars">
											<img src="{{site.baseurl}}/review-star.jpg" alt="">
										</div>
										<!-- reviews__list_item_stars -->
										<div class="reviews__list_item_content">
											Далеко-далеко за словесными горами в стране, гласных и согласных.
										</div>
										<!-- reviews__list_item_content -->
										<div class="reviews__list_item_date">
											
										</div>
										<!-- reviews__list_item_date -->
									</li>
									<!-- reviews__list_item -->
								</ul>
								<!-- reviews__list -->
							</div>
							<!-- reviews -->
							
						</div>
					</article>
					<!-- product-tabs__contents_item -->

				</section>
				<!-- product-tabs__contents -->
			</div>
			<!-- product-tabs -->
		</div>
		<!-- container -->
	</section>
	<!-- product-tabs-wrap -->

	<section class="product-carousel-wrap">
		<div class="container-temp">
			<div class="product-carousel">
				{% include carousel.html type="single-product" %}
			</div>
		</div>
	</section>