<section class="carousels-wrap {{include.type}}">
  <div class="container">
    <div class="carousels" id="carousel_{{include.id}}">
      <dl class="carousels__box clearfix">
        {% for i in (1..5) %}
        <dt class="carousels__box_title jsCarouselTabSwitcher" data-href="carousel_tab_{{i}}">
          <button class="carousels__box_title_action">Таб {{i}}</button>
        </dt>
        <!-- carusels__box_title -->
        <dd class="carousels__box_item jsCarouselTabContent" data-name="carousel_tab_{{i}}">
         <section class="carousel-content">
           {% for i in (1..4) %}
          
            <article class="carousel-content__item"> 
                {% include product-block.html type="carousel" %}
            </article>
             <!-- carousel-content__item -->

           {% include quick-view.html %}
      
         {% endfor %}
       </section>
       <!-- carousel-content -->
       <div class="carousels__box_item_action">
        <button class="carousels__box_item_actions_button carousel-navigations"> <i class="fa fa-iconname"></i> </button>
        <button class="carousels__box_item_actions_button carousel-navigations"> <i class="fa fa-iconname"></i> </button>
      </div>
      <!-- carousel-__box_item_action -->
    </dd>
    <!-- carousels__box-item -->
    {% endfor %}

  </dl>
  <!-- carouseles__box -->
</div>
<!-- carousels -->
</div>
<!-- container -->
</section>
<!-- carousels-wrap -->