<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ " /css/screen.css " | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ " /css/font-awesome.min.css " | prepend: site.baseurl }}">
</head>
<body class="{% if page.url == '/' %} home {% else %} {{page.url | first }} {% endif %}">

  <section class=" main-header-wrapper">
    <header class="main-header clearfix">
      <div class="main-header__phone">
        <span href="#" class="main-header__phone_item">+374 94 77 33 02: (Далеко-далеко за словесными горами.)</span>
        <!-- main-header__phone_item -->
      </div>
      <!-- main-header__phone -->
      <div class="main-header__menu-pusher">
        <i class="fa fa-menu"></i>
      </div>
      <!-- main-header__menu-pusher -->
      <div class="main-header__nav">
        {% for i in (1..5) %}
        <a href="#" class="main-header__nav_item {% if forloop.index == 2 %} is-active {% endif %}">
          пунтк меню {{forloop.index}}
        </a>
        {% endfor %}
      </div>
      <!-- main-header__nav -->
    </header>
    <!-- main-header -->
  </section>
  <!-- main-header-wrapper -->
  
  <section class="post-header-wrapper">
    <div class="post-header">

      <div class="site-logo">
        <a href="" class="site-logo__link">
          <img src="{{site.baseurl}}/img/logo.png" alt="" class="site-logo__link_img">
        </a>
        <!-- site-logo__link -->
      </div>
      <!-- site-logo -->

      <div class="search search_top">
        <form action="">
          <div class="search__select">
            <i class="fa fa-caret-down"></i>
            <select name="" id="" class="search__select_select">
              {% for i in (1..8) %}
              <option value="Категория">Категория {{i}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- search__select -->
          <div class="search__input-wrap">
            <input type="text" class="search__input-wrap_input" placeholder="Введите данные для поиска...">
            <button class="search__input-wrap_submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <!-- search__select -->
        </form>
        </div>
      <!-- search -->

      <div class="shop-cart clearfix js-shopCart">
        <div class="shop-cart__icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="shop-cart__text">
          <span class="shop-cart__text_title">корзина</span>
          <span class="shop-cart__text_count">в корзине:
            <span class="shop-cart__text_count_text jsCartItemCount">5</span>
          </span>
        </div>
        <div class="mini-cart hide">
          <section class="mini-cart-content">
            {% for i in (1..3) %}
            <article class="mini-cart-content__line">
              <a href="product.html" class="mini-cart-content__line_img-link">
                <img src="{{site.baseurl}}/img/cart-img{{i}}.jpg" alt="">
              </a>
              <!-- mini-cart-content__line_img-link -->
              <div class="mini-cart-content__line_info">
                <h1 class="mini-cart-content__line_info_title">
                  <a href="{{site.baseurl}}/product.html" class="mini-cart-content__line_info_title_link js">Название товара</a>
                </h1>
                <span class="mini-cart-content__line_info_product-size">
                  <span class="mini-cart-content__line_info_prodcut-size_count">1</span>
                  x
                  <span class="mini-cart-content__line_info_product-size_price">
                    1245 Руб
                  </span>
                </span>
                <!-- mini=cart-content__line_info_product-size -->
              </div>
              <!-- mini-cart-content__line_info -->
            </article>
            <!-- mini-cart-content__line -->
            {% endfor %}
            <div class="mini-cart-content__summary">
              <span class="mini-cart-content__sunmmary_cart-count">
                Товаров в корзине
                <span class="jsMiniCartTotalCount">3</span>
              </span>
              <span class="mini-cart-content__summary_total-price">
                Итого:
                <span class="jsMiniCartTotalPrice">450 Руб</span>
              </span>
            </div>
            <!-- mini-cart-content__summary -->
          </section>
          <!-- mini-cart-content -->
        </div>
        <!-- mini-cart -->
      </div>
      <!-- shop-cart -->

    </div>
    <!-- post-header -->
  </section>
  <!-- post-header-wrapper -->
  <script src="{{" /js/jquery-1.8.3.min.js " | prepand: site.baseurl }}"></script>
  <script src="{{" /js/functions.js " | prepand: site.baseurl}}"></script>
</body>
</html>