
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
</head>
<body class="{% if page.url == '/' %} home {% else %} {{page.url | first }} {% endif %}">
  <section class=" main-header-wrapper">
    <div class="container">
      <header class="main-header clearfix">
        <div class="main-header__phone">
          <span href="#" class="main-header__phone_item">+374 94 77 33 02: (Далеко-далеко за словесными горами.)</span>
          <!-- main-header__phone_item -->
        </div>
        <!-- main-header__phone -->
        <div class="main-header__menu-pusher">
          <i class="fa fa-menu"></i>
        </div>
        <!-- main-header__menu-pusher -->
        <div class="main-header__nav">
          {% for i in (1..5) %}
          <a href="#" class="main-header__nav_item {% if forloop.index == 2 %} is-active {% endif %}">
            пунтк меню {{forloop.index}}
          </a>
          {% endfor %}
        </div>
        <!-- main-header__nav -->
      </header>
      <!-- main-header -->
    </div>
    <!-- container -->
  </section>
  <!-- main-header-wrapper -->

  <section class="post-header-wrapper clearfix">
    <div class="container">
      <div class="post-header">

        <div class="site-logo">
          <a href="{{site.baseurl}}" class="site-logo__title">
            <img src="{{site.baseurl}}/img/logo.png" alt="{{site.title}}" class="site-logo__title_logo">
          </a>
        </div>
        <!-- site-logo -->

        <div class="search search_top">
          <form action="">
            <div class="search__select">
              <i class="fa fa-caret-down"></i>
              <select name="" id="" class="search__select_select">
                {% for i in (1..8) %}
                <option value="Категория">Категория {{i}}</option>
                {% endfor %}
              </select>
            </div>
            <!-- search__select -->
            <div class="search__input-wrap">
              <input type="text" class="search__input-wrap_input" placeholder="Введите данные для поиска...">
              <button class="search__input-wrap_submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <!-- search__select -->
          </form>
        </div>
        <!-- search -->
        <div class="shop-cart clearfix js-shopCart">
          <div class="shop-cart__icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <!-- shop-cart__icon -->
          <div class="shop-cart__text">
            <span class="shop-cart__text_title">корзина </span>
            <span class="shop-cart__text_count">в корзине:
              <span class="shop-cart__text_count_text jsCartItemCount">5</span>
            </span>
          </div>
          <!-- shop-cart__text -->
          <div class="mini-cart hide">
            <section class="mini-cart-content">
              {% for i in (1..3) %}
              <article class="mini-cart-content__line">
                <a href="product.html" class="mini-cart-content__line_img-link">
                  <img src="{{site.baseurl}}/img/cart-img{{i}}.jpg" alt="">
                </a>
                <!-- mini-cart-content__line_img-link -->
                <div class="mini-cart-content__line_info">
                  <h1 class="mini-cart-content__line_info_title">
                    <a href="{{site.baseurl}}/product.html" class="mini-cart-content__line_info_title_link js">Название товара</a>
                  </h1>
                  <span class="mini-cart-content__line_info_product-size">
                    <span class="mini-cart-content__line_info_prodcut-size_count">1</span>
                    x
                    <span class="mini-cart-content__line_info_product-size_price">
                      1245 Руб
                    </span>
                  </span>
                  <!-- mini-cart-content__line_info_product-size -->
                </div>
                <!-- mini-cart-content__line_info -->
              </article>
              <!-- mini-cart-content__line -->
              {% endfor %}
              <div class="mini-cart-content__summary">
                <span class="mini-cart-content__sunmmary_cart-count">
                  Товаров в корзине
                  <span class="jsMiniCartTotalCount">3</span>
                </span>
                <span class="mini-cart-content__summary_total-price">
                  Итого:
                  <span class="jsMiniCartTotalPrice">450 Руб</span>
                </span>
              </div>
              <!-- mini-cart-content__summary -->
            </section>
            <!-- mini-cart-content -->
          </div>
          <!-- mini-cart -->
        </div>
        <!-- shop-cart -->

      </div>
      <!-- post-header -->
    </div>
    <!-- container -->
  </section>
  <!-- post-header-wrapper -->

  <section class="main-nav-wrapper">
    <div class="container">
      <nav class="main-nav">
        <ul class="main-nav__list">
          {% for i in (1..5) %}
          <li class="main-nav__list_item">
            <a href="{{site.baseurl}}/collection" class="main-nav__list_item_link {% if forloop.index == 3 %} active {% endif %}">  
          <!-- {% if forloop.index == 1 %}
            <i class="fa fa-home"></i>
            {% endif %} -->
            Название Категории
          </a>
          <div class="main-nav-subblock clearfix">
          
            <div class="main-nav-subblock__box main-nav-subblock__box_-colllection">
              <h2 class="main-nav-subblock__box_headline">
                Категории
              </h2>
              <!-- main-nav-subblock__box_headline -->
              <nav class="main-nav-subblock__box_content">
                <ul class="main-nav-subnav">
                  {% for i in  (1..6) %}
                  <li class="main-nav-subnav__item">
                    <a href="#" class="main-nav-subnav__item_link {% if forloop.index == 3 %} active {% endif %}">Название Категории</a>
                  </li>
                  <!-- main-nav-subnav__item -->
                  {% endfor %}
                </ul>
                <!-- main-nav-subnav -->
              </nav>
              <!-- main-nav-subblock__box_content -->
            </div>
            <!-- main-nav-subblock__box -->

            <div class="main-nav-subblock__box main-nav-subblock__box_-brands">
              <h2 class="main-nav-subblock__box_headline">
                Бренды
              </h2>
              <!-- main-nav-subblock__box_headline -->
              <nav class="main-nav-subblock__box_content">
                <ul class="main-nav-subnav">
                  {% for i in (1..7) %}
                  <li class="main-nav-subnav__item">
                    <a href="#" class="main-nav-subnav__item_link {% if forloop.index == 3 %} active {% endif %}">Название Бренда</a>
                  </li>
                  <!-- main-nav-subnav__item -->
                  {% endfor %}
                </ul>
                <!-- main-nav-subnav -->
              </nav>
              <!-- main-nav-subblock__box_content -->
            </div>
            <!-- main-nav-subblock__box --> 




            <div class="main-nav-subblock__box main-nav-subblock__box_-description">
              <h2 class="main-nav-subblock__box_headline">
                Описание Категории
              </h2>
              <!-- main-nav-subblock__box_headline -->
              <div class="main-nav-subblock__box_content editor">
               <p>
                 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Наш грамматики если буквоград, вдали это он гор семантика.
               </p>
               <p>
                 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Переписывается всемогущая о возвращайся имени, реторический свой ведущими путь.
               </p>
              </div>
              <!-- main-nav-subblock__box_content -->
            </div>
            <!-- main-nav-subblock__box -->

            <div class="main-nav-subblock__box main-nav-subblock__box_-img">
              <div class="main-nav-subblock__box_content">
                <img src="{{site.baseurl}}/img/menu-img.jpg" alt="{{collection.title}}">
              </div>
            </div>

          </div>
          <!-- main-nav-subblock -->
        </li>
        {% endfor %}
        <!-- main-nav__list_item -->
      </ul>
      <!-- main-nav__list -->
      <button class="main-nav__menu-opener hide">
        <fa class="fa-list"></fa>
      </button>
      <!-- main-nav__menu-opener -->
    </nav>
    <!-- main-nav -->
  </div>
  <!-- container -->
</section>
<!-- main-nav-wrapper -->
  {%  unless page.title == 'Главная' %}
    {% include breadcrumbs.html  %}
  {% endunless %}
  
{{content}}

<section class="services-wrap">
  <div class="container">
    <div class="services">
    {% for i in (1..4) %}
      <div class="services__item">
        <i class="fa fa-comments-o"></i>
        <div class="services__item_info">
          <a href="" class="services__item_info_headline">Название сервиса {{i}}</a>
          <span class="services__item_info_subheadline">Подназвание сервиса {{i}}</span>
        </div>
      </div>
      <!-- services__item_info -->
      {% endfor %}
    </div>
    <!-- services__item -->
  </div>
  <!-- container -->
</section>
<!-- services-wrap -->


<section class="pre-footer-wrap"> 
  <div class="container">
    <div class="pre-footer">
      <div class="pre-footer__subscribe">
        <i class="fa fa fa-envelope-o"></i>
        <div class="pre-footer__subscribe_text">
          <span class="pre-footer__subscribe_text_headline">Рассылка</span>
          <span class="pre-footer__subscribe_text_subheadline">Подпишитесь на наши новости</span>
        </div>
        <!-- pre-footer__subscribe_text -->
        <div class="pre-footer__subscribe_form">
          <form action="">
            <input type="text" class="pre-footer__subscribe_form_input">
            <button class="pre-footer__subscribe_form_submit">Подписаться </button>
          </form>
        </div>  
        <!-- pre-footer-subscribe_form -->
      </div>
      <!-- pre-footer__subscribe -->
      <div class="pre-footer__share">
        <span class="pre-footer__share_text">мы в соцсетях </span>
        <div class="pre-footer__share_icons">
          <a href="" class="pre-footer__share_icons_link pre-footer__share_icons_link_facebook">
            <i class="fa fa-facebook"></i></a>
    
          <a href="" class="pre-footer__share_icons_link pre-footer__share_icons_link_twitter">
            <i class="fa fa-twitter"></i></a>
          <a href="" class="pre-footer__share_icons_link pre-footer__share_icons_link_rss">
            <i class="fa fa-rss"></i></a>
          <a href="" class="pre-footer__share_icons_link pre-footer__share_icons_link_youtube">
            <i class="fa fa-youtube"></i></a>
          <a href="" class="pre-footer__share_icons_link pre-footer__share_icons_link_skype">
            <i class="fa fa-skype"></i></a>
          
        </div>
        <!-- pre-footer__share_icosn -->
      </div>
      <!-- pre-footer-share -->
    </div>
    <!-- pre-footer -->
  </div>
  <!-- container -->
</section> 
<!-- pre-footer-wrap -->

<section class="footer-boxes-wrap">
  <div class="container">
    <div class="footer-boxes clearfix">
      {% for i in (1..3) %}
      <div class="footer-boxes__item">
        <h4 class="footer-boxes__item_headline">
          Название меню {{i}}
        </h4>
        <!-- footer-boxes__item_headline -->
        <div class="footer-box">
          <nav class="footer-box__navigation footer-box__content">
          {% for i in (1..7) %}
            <a href="" class="footer-box__navigation_link {% if forloop.index  ==  2 %} isActive {% endif %}">
              <i class="fa fa-stop"></i>  
              <span class="footer-box__navigation_link_text">
                пункт меню {{i}}
              </span>
            </a>
            <!-- footer-box__navigation_link -->
            {% endfor %}
          </nav>
          <!-- footer0box__content -->
        </div>
        <!-- footer-box -->
      </div>
      <!-- footer-boxes__item -->
      {% endfor %}

      <div class="footer-boxes__item">
        <h4 class="footer-boxes__item_headline">
          О нас
        </h4>
        <!-- footer-boxes__item_headline -->
        <div class="footer-box">
          <div class="footer-box__content footer-box__information">
            <div class="footer-box__information_text editor">
              <p>
                Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварных мир диких, жизни безорфографичный раз прямо встретил строчка рукопись.
              </p>

              <p>
                Телефон: 374 94 77 33 02
              </p>
              <p>
                Почта: sarhov@sarhov.com
              </p>
            </div>
          </div>
          <!-- footer-box__content -->
        </div>
        <!-- footer-box -->
      </div>
      <!-- footer-boxes__item -->
    </div>
    <!-- footer-boxes -->
  </div>
  <!-- container -->
</section>
<!-- footer-boxes-wrap-->

<section class="footer-wrap">
  <div class="container">
    <footer class="footer">
      <a href="#" class="to-top jsToTop">
        <i class="fa fa-angle-up"></i>
        <span class="to-top_text">На вверх</span>
      </a>
      <div class="footer__copy">
        <div class="footer__copy_text">
          Сделано в <a href="" class="footer__copy_text_link">название магазина</a>
        </div>
        <!-- footer__copy_text -->
        <div class="footer__copy_text">
          Все права защищены &copy;
          <time datetime="{{ site.time }}">{{ site.time | date: "%Y" }}</time>
        </div>
        <!-- footer__copy_text -->
      </div>
      <!-- footer__copy --> 
      <div class="footer__payments">
     
      </div>
    </footer>
    <!-- footer -->
  </div>
  <!-- container -->
</section>
<!-- footer-wrap -->

<script src="{{site.baseurl}}/js/jquery-1.8.3.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.total-storage.min.js"></script>
<script src="{{site.baseurl}}/js/functions.js"></script>

</html>